@using Entities.ViewModels.Car;
@using Entities.Models;
@{
    Layout = null;
    var AllCode = (List<AllCode>)ViewBag.AllCode;
    var AllCode2 = (List<AllCode>)ViewBag.AllCode2;
}
@model List<CartoFactoryModel>
@if (Model != null && Model.Count > 0)
{
    <table class="data-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Giờ đăng ký online</th>
                <th>Tên khách hàng (Trại, đại lý)</th>
                <th>Tên lái xe</th>
                <th>Số điện thoại</th>
                <th>Biển số xe</th>
                <th>Tải trọng xe (kg)</th>
                <th>Hoàn hảo/Trại</th>
                <th>TT xe có mặt</th>

                <th>Nhóm tài</th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        <tbody id="dataBody-@ViewBag.type">
            @foreach (var item in Model)
            {
                switch (item.TrangThai)
                {
                    case 1:
                        {
                            <tr class="CartoFactory_@item.Id" data-queue="@item.RecordNumber" style="background: red;">
                                <td>
                                    @item.RecordNumber 
                                </td>
                                <td>@(((DateTime)item.RegisterDateOnline).ToString("HH:mm dd/MM/yyyy"))</td>
                                <td>@item.CustomerName</td>
                                <td>@item.DriverName</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @item.VehicleNumber
                                    <a class="cursor-pointer" onclick="_inspection.ShowAddOrUpdate(@item.InspectionId)" title="Chỉnh sửa">
                                        <i class="icon-edit"></i>
                                    </a>
                                </td>
                                <td>@item.VehicleLoad</td>
                                <td>@item.LicenseNumber</td>
                                <td>@item.VehicleStatusName</td>
                                <td>
                                    @if (ViewBag.type == 1)
                                    {
                                        <div class="">
                                            <p class="  Vehicle-Status" data-type="1">
                                                @item.LoadTypeName
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="status-dropdown">
                                            <button class="dropdown-toggle  Vehicle-Status" data-type="1" data-options='[
                                @foreach (var allcode in AllCode2)
            {
                if (allcode.CodeValue == 0)
                {
                                        @:{"text":"@allcode.Description","class":"status-green","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }
                                    else
                                    {
                                        @:{"text":"@allcode.Description","class":"status-normal","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }


                                    }
                                                                    ]'>
                                                @item.LoadTypeName
                                            </button>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="status-dropdown">
                                        <button class="dropdown-toggle " data-options='[
                            @foreach (var allcode in AllCode)
                            {

                                @:{"text":"@allcode.Description","value":"@allcode.CodeValue"}@(allcode != AllCode.Last() ? "," : "")

                            }
                                                        ]'>
                                            @item.LoadingStatusName
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                    case 2:
                        {
                            <tr class="CartoFactory_@item.Id" data-queue="@item.RecordNumber"  style="background: red;">
                                <td>
                                    @item.RecordNumber
                                </td>
                                <td>@(((DateTime)item.RegisterDateOnline).ToString("HH:mm dd/MM/yyyy"))</td>
                                <td>@item.CustomerName</td>
                                <td>@item.DriverName</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @item.VehicleNumber
                                    <a class="cursor-pointer" onclick="_inspection.ShowAddOrUpdate(@item.Id)" title="Chỉnh sửa">
                                        <i class="icon-edit"></i>
                                    </a>
                                </td>
                                <td>@item.VehicleLoad</td>
                                <td>@item.LicenseNumber</td>
                                <td>@item.VehicleStatusName</td>
                                <td>
                                    @if (ViewBag.type == 1)
                                    {
                                        <div class="">
                                            <p class="  Vehicle-Status" data-type="1">
                                                @item.LoadTypeName
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="status-dropdown">
                                            <button class="dropdown-toggle  Vehicle-Status" data-type="1" data-options='[
                                @foreach (var allcode in AllCode2)
            {
                if (allcode.CodeValue == 0)
                {
                                        @:{"text":"@allcode.Description","class":"status-green","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }
                                    else
                                    {
                                        @:{"text":"@allcode.Description","class":"status-normal","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }


                                    }
                                                                    ]'>
                                                @item.LoadTypeName
                                            </button>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="status-dropdown">
                                        <button class="dropdown-toggle " data-options='[
                            @foreach (var allcode in AllCode)
                            {

                                @:{"text":"@allcode.Description","value":"@allcode.CodeValue"}@(allcode != AllCode.Last() ? "," : "")

                            }
                                                        ]'>
                                            @item.LoadingStatusName
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;

                    case 4:
                    case 3:
                        {
                            <tr class="CartoFactory_@item.Id" data-queue="@item.RecordNumber">
                                <td>@item.RecordNumber</td>
                                <td>@(((DateTime)item.RegisterDateOnline).ToString("HH:mm dd/MM/yyyy"))</td>
                                <td>@item.CustomerName</td>
                                <td>@item.DriverName</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @item.VehicleNumber
                                </td>
                                <td>@item.VehicleLoad</td>
                                <td>@item.LicenseNumber</td>
                                <td>@item.VehicleStatusName</td>
                                <td>
                                    @if (ViewBag.type == 1)
                                    {
                                        <div class="">
                                            <p class="  Vehicle-Status" data-type="1">
                                                @item.LoadTypeName
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="status-dropdown">
                                            <button class="dropdown-toggle  Vehicle-Status" data-type="1" data-options='[
                                @foreach (var allcode in AllCode2)
            {
                if (allcode.CodeValue == 0)
                {
                                        @:{"text":"@allcode.Description","class":"status-green","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }
                                    else
                                    {
                                        @:{"text":"@allcode.Description","class":"status-normal","value":"@allcode.CodeValue"}@(allcode != AllCode2.Last() ? "," : "")

                                    }


                                    }
                                                                    ]'>
                                                @item.LoadTypeName
                                            </button>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <div class="status-dropdown">
                                        <button class="dropdown-toggle " data-options='[
                            @foreach (var allcode in AllCode)
                            {

                                @:{"text":"@allcode.Description","value":"@allcode.CodeValue"}@(allcode != AllCode.Last() ? "," : "")

                            }
                                                        ]'>
                                            @item.LoadingStatusName
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        break;
                }

            }

        </tbody>
    </table>
}
else
{
    <table class="data-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Giờ đăng ký online</th>
                <th>Tên khách hàng (Trại, đại lý)</th>
                <th>Tên lái xe</th>
                <th>Số điện thoại</th>
                <th>Biển số xe</th>
                <th>Tải trọng xe (kg)</th>
                <th>Hoàn hảo/Trại</th>
                <th>TT xe có mặt</th>
                <th>Nhóm tài</th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        <tbody id="dataBody-@ViewBag.type">
        </tbody>
    </table>
}

