@using Entities.ViewModels.Car;
@using Entities.Models;
@using Utilities.Contants;
@{
    Layout = null;
    var date = DateTime.Now;
    var TotalData = (TotalVehicleInspection)ViewBag.TotalData;
}
<div class="stats-grid">


    <div class="stat-box">
        <p>Tổng số xe đang ký</p>
        <h3>@(TotalData != null ? TotalData.TotalCar : 0)</h3>
    </div>
    <div class="stat-box">
        <p>Số chuyến đã xuất</p>
        <h3>@(TotalData != null ? TotalData.TotalCarCompleted : 0)</h3>
    </div>
    <div class="stat-box">
        <p>Khối lượng đã xuất (tấn)</p>
        <h3> @(TotalData != null ? TotalData.TotalWeightTroughType : 0)</h3>
    </div>
    <div class="stat-box">
        <p>số xe đến lấy sau 16h</p>
        <h3>@(TotalData != null ? TotalData.TotalCarArriving16h : 0)</h3>
    </div>
    <div class="stat-box">
        <p>Thời điểm kết thúc xuất hàng</p>
        <h3>@(TotalData != null ? TotalData.MaxVehicleTimeOutToday.ToString("HH:mm:ss") : "")</h3>
    </div>
</div>